variable "gcloud_credentials_file" {
  default = "secrets/gcloud_service_account.json"
}

variable "gcp_remote_user" {
  default = "asarnari"
}

variable "ssh_private_key" {
  default = "secrets/<FILE_NAME>"
}
